body {
    font-family:   sans-serif;
    background-color: #d186a5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(149, 115, 212, 0.1);
    padding: 20px;
    width: 500px;
}

h1 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    color:  #b93959;

}

#taskInput {
    width: calc(82% - 40px);
    padding: 10px;
    margin-right: 10px;
/*  border: 1px solid #be4574; 
    border-radius: 2px; */
}

#addTaskBtn {
    width: calc(20% - 20px);
    padding: 8px 10px;
    border: none;
    border-radius: 2px;
    background-color: #b93959;
    border:1px solid #ddd;
    color: white;
    cursor: pointer;
    font-size: large;
}

#addTaskBtn:hover {
    background-color: white;
    color: #b93959;
    border: 1px solid #b93959;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px;
}

li.completed {
    text-decoration: line-through;
    color: #6c757d;
}

button.remove {
    background: none;
    border: none;
    color: #dc3545;
    cursor: pointer;
    font-size: 20px;
}