
    body {
    background-color: #ffffff;
    justify-content: center;
    align-items: center;

    }
    
    .background{
        background-color: rgb(245, 244, 244);
        width: 90%;
        display: block;
        margin: auto;
        border: 1px solid #1c0355;
    }
    .banner{
        position: relative;
        color: white;
    }
    img{
        display: block;
        width: 90%;
        margin: auto;
        position: relative;
        border-bottom: 5px double #000000;

    }
    .title{
        position: absolute;
        top: 50%;
        left: 20%;
        font-size: 42px;
        font-weight: bold;
        font-family: Georgia, 'Times New Roman', Times, serif;
        transform: translate(-50%, -50%);
    }
    
    .title2{
        top: 70%;
        left: 32%;
        font-family: fantasy;
        color:rgb(5, 255, 255);

    }
    
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 60%;
      margin-left:auto;
      margin-right:auto; 


    }

    td, th {
      border: 3px double #000000;
      text-align: center;
      padding: 15px;

    }
    

